/* Element Selectors */

body {
   position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #144e99;
  color: #f2f1f7;
}

header {
   width: 100%;
   background-color: #112357;
 }
 
footer li {
   font-size: 20px;
 } 

 h1 {
   text-align: left;
 }
 
nav ul {
   text-align: right;
}

li {
   display: inline;
   font-size: 35px;
}

a:link,
a:visited {
  text-decoration: none;
  color: #f2f1f7;
}

h2 {
   text-align: left;
}

p {
   text-align: center;
}

h3 {
   text-align: center;
}


 /*Class Selectors */

.selfie {
   display: flex;
   height: 200px;
}

.horiseon {
   width: 75%;  
}

.orangutan{
   height: 298px;
} 

.homosapien {
height: 300px
}

.p3 {
   margin-left: 10px;
}

.test {
   display: flex;
   flex-direction: row;
   justify-content: center;
}


/* ID Selectors */

#contact-me {
  text-align: center;
}

#work {
   text-align: center;
}

/* Media Queries */

@media screen and (max-width: 767px) {
   .test {
      display: block;
   }
 .p3 {
   margin-left: unset;
 }
} 