body {
   position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #144e99;
  color: #f2f1f7;
}

header {
   width: 100%;
   background-color: #112357;
 
 }
 
 h1 {
   text-align: left;
 }
 
 ul {
   text-align: right;
  
 }

li {
   display: inline;
   font-size: 35px;
   border-bottom: #f2f1f7;
}

a:link,
a:visited {
  text-decoration: none;
  color: #f2f1f7;

}


.selfie {
   display: flex;
   height: 200px;
}

h2 {
   
   text-align: left;
}

h3 {
 text-align: center;
}

.horiseon {
   height: 500px;
   position: relative;
   left: 300px;
  
}

.orangutan{
   height: 300px;
   display: inline;
}

.homosapien {
height: 300px;
display: inline;
}

@media screen and (max-width: 992px) 
 
 
@media screen and (max-width: 768px)
 

@media screen and (max-width: 576px) 