/* Universal Selectors */
* {

}

/* Element Selectors */
body {
   }

main {

}   

header {
width: 100%;
background-color: dimgrey;
 }

 section {
    height: 400px;
    width: 80%;
    margin: 30px auto;
    border: 10px solid black;
  }

[Horiseon] {

    
}




/* Class Selectors */


.selfie {
height: 75px;
border: 10px solid rgb(54, 54, 71);

} 

.text-right {
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
}

li {
display: inline;
}

